mark {
    background-color: transparent;
    color: inherit;
}

button {
    background-color: white;
    color: #3366CC; 
    border: 2px solid #3366CC; 
    cursor: pointer;
    border-radius: 800px;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color: #3366CC;
    color: white;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    border: 2px solid #999999;
    background-color: #cccccc;
    color: #999999;
}