mark{
    background-color: transparent;
    color: inherit;
}

button {
    background-color: white;
    color: #3366CC; 
    border: 2px solid #3366CC; 
    cursor: pointer;
}

button:hover {
    background-color: #3366CC;
    color: white;
  }

button:disabled{
    cursor: not-allowed;
    pointer-events: none;
    border: 2px solid #999999;
    background-color: #cccccc;
    color: #999999;
  }