body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "label input"
        "restore submit";
    column-gap: 7%;
    row-gap: 7%;
    align-items: center;
    justify-items: center;
    width: 400px;
}

label {
    font-weight: 700;
    font-size: 20px;

    /* prevent text selection https://www.w3schools.com/howto/howto_css_disable_text_selection.asp*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#save {
    grid-area: submit;
    justify-self: start;
}

#restore-color {
    justify-self: end;
    width: auto;
    grid-area: restore;
}

#status {
    width: 100%;
    height: 10px;
    text-align: center;
    padding-bottom: 10px;
}
